body, html {
    background: #888;
}

#backstage {
    z-index: 0;
    display: table;
}

.outerContainer {
    position: relative;
    text-align: center;
}
.container {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    background: #888;
}
.stageWrapper {
    position:relative;
}
#moveStage {
    z-index: 1;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
}
.row {
    display: table-row;
}

.field {
    display: table-cell;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    text-align: center;
    vertical-align: middle;
    border: 0;
    /*border-right: 1px solid #666;*/
    /*border-bottom: 1px solid #666;*/
    font-weight: bold;
    font-size:21px;
    cursor: pointer;
    /*background: #b7b7b7;*/
    background-repeat: no-repeat;
}

.ground {
    background-image: url("../img/ground56.png");
    background-position: -280px;
}

.spot {
    background-image: url("../img/ground56.png");
    background-position: -112px;
}

.wall {
    background-image: url("../img/block56.png");
    background-position: -56px;
}

.crate {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    background-image: url("../img/crate56.png");
    /*background-position: -56px;*/
    background-position: -616px;
    position: absolute;
}
/* Correctly placed crate */
.correct {
    background-position: -56px;
}

.mario {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    position: absolute;
    background-image: url("../img/player56.png");
    background-position: -560px;
}